
<ng-form name="userFieldForm">

	<div class="form-group" ng-class="{ 'has-error' : userFieldForm.{{fieldData.name}}.$invalid && userFieldForm.{{fieldData.name}}.$touched  }">
	    <label class="control-label"> {{fieldData.label}} <span ng-if="fieldData.required" class="glyphicon glyphicon-asterisk" style="color:red;" aria-hidden="true"></span>    </label>
	    <select class="form-control" name="{{fieldData.name}}" ng-model="fieldData.data" ng-options="o as o for o in fieldData.options" ng-required="fieldData.required">
		  <option value="">-- Pick one --</option>  
		</select>
		<span class="help-block" ng-show="userFieldForm.{{fieldData.name}}.$invalid && userFieldForm.{{fieldData.name}}.$touched">
			Selecione um opção
		</span>
	</div>

</ng-form>

